{% extends 'layout.html' %}

{% block body %}
  {% include 'navbar.html' %}
  <div class="container w-75">
    <!--bug overview-->
    {% if bug.open == False %}
    <div class="card text-center">
      <div class="card-header">
        <h5>Bug has been Closed by {{ bug.resolved_by|title }}</h5>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ bug.title }}</h5>
        <p class="card-text">{{ bug.description }}</p>
      </div>
      <div class="card-footer text-body-secondary">
        <h5>Reported by {{ bug.created_by|title }}</h5>
        <small>Reported {{ bug.created_at|timesince }} ago</small>
      </div>
    </div>
    {% endif %}
    {% if bug.open == True %}
    <div class="card text-center">
      <div class="card-header">
        <h5>Bug Report</h5>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ bug.title }}</h5>
        <p class="card-text">{{ bug.description }}</p>
        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#Modal">Close Bug report</button>
      </div>
      <div class="card-footer text-body-secondary">
        <h5>Reported by {{ bug.created_by }}</h5>
        <small>Reported {{ bug.created_at|timesince }} ago</small>
      </div>
    </div>

    <!--pop up form-->
    <div class="modal fade text-dark" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="{% url 'bugInfo' bug.id %}" method="POST">
              {% csrf_token %}
              <h5>You confirm that the bug has been fixed?</h5>
              <input type="hidden" name="bug_status_change" value="{{ bug.id }}">
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Dismiss</button>
                <input type="submit" value="Confirm" class="btn btn-danger">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!--Comments section-->
    <div class="container mt-4 rounded">
      <span class="position-relative fw-bold">
        COMMENTS
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          {{ comments|length }}
          <span class="visually-hidden">unread messages</span>
        </span>
      </span>

      <!--No comment yet section-->
      {% if comments|length == 0 %}
      <h5 class="text-center fw-light">Leave a comment or todos if you're alone</h5>
      <form action="{% url 'bugInfo' bug.id %}" method="POST">
        {% csrf_token %}
        <div class="input-group mb-3 mx-auto">
          {{ commentForm.comment }}
          <button type="submit" class="btn btn-dark">Post</button>
        </div>
      </form>

      <!--Comments found section-->
      {% else %}
      <div class="container bg-secondary rounded pt-3 pb-1 mt-3">
        {% for comment in comments %}
        <div class="container bg-dark text-white rounded mb-4 p-3">
          <div class="row">
            <div class="col-sm">
              <p>{{ comment.timestamp|timesince }} ago</p>
              <p><strong>{{ comment.author }}</strong>: {{ comment.comment }}</p>
            </div>
            <!--delete comment form-->
            {% if user == comment.author %}
            <form class="col-sm d-flex justify-content-end" action="{% url 'bugInfo' bug.id %}" method="POST">
              {% csrf_token %}
              <!--hidden info attached to form-->
              <input type="hidden" name="delete_post" value="{{ comment.id }}">
              <input type="hidden" name="bug_id" value="{{ bug.id }}">

              <button class="btn" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="red" class="bi bi-trash-fill" viewBox="0 0 16 16">
                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
              </svg></button>
            </form>
            {% endif %}
          </div>
        </div>
      {% endfor %}

      <!--New comment form-->
      <form action="{% url 'bugInfo' bug.id %}" method="POST">
        {% csrf_token %}
        <div class="input-group mb-3 mx-auto">
          {{ commentForm.comment }}
          <button type="submit" class="btn btn-dark">Post</button>
        </div>
      </form>

    </div>
      {% endif %}
    </div>  
  </div>
  {% endif %}
{% endblock %}