{% extends 'layout.html' %}

{% block title %}
  Register
{% endblock %}

{% block body %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-dark text-white">
          <h3>Register an account</h3>
        </div>
        <div class="card-body">
          <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            {% if message %}
            <div class="row alert alert-warning alert-dismissible fade show" role="alert">
              <div class="col-sm-10">
                {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            </div>
            {% endif %}
            <div class="form-group mb-4">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
            </div>
            <div class="form-group mb-4">
              <label for="email">Email</label>
              <input type="text" class="form-control" id="email" placeholder="Enter Email" name="email">
            </div>
            <div class="form-group mb-4">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
            </div>
            <div class="form-group mb-4">
              <label for="confirm">Password</label>
              <input type="password" class="form-control" id="confirm" placeholder="Confirm password" name="confirm">
            </div>
            <button type="submit" class="btn btn-dark btn-block mb-4">Register</button>
            <p>Already signed up? <a href="{% url 'login' %}">Login here</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}